<div class="mx-auto md:w-2/3 w-full" data-controller="autocomplete-cep">
  <h1 class="font-bold text-4xl mb-2">Edit Profile Info</h1>
  <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true, html: { class: "contents", autocomplete: "off" } do |form| %>
    <%= render 'profile_form', form: form %>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Update", class: "text-sm font-medium border border-green-200 text-green-600 rounded-lg py-2 px-4 hover:bg-green-100 transition-colors cursor-pointer" %>
      </div>
      <%= link_to "Back to Profile", admin_user_path, class: "text-sm font-medium border border-slate-200 text-slate-600 rounded-lg py-2 px-4 hover:bg-gray-100 transition-colors" %>
    </div>
  <% end %>
</div>
